.size {
  border-right: 2px solid grey;
  padding-bottom: 6%;
}

.topping {
  margin-left: 10%;
  border-right: 2px solid grey;
}

.submit {
  margin-left: 15%;
}

.order-details {
  display: none;
}
